* {
    /* border: 1px solid red; */
}

html {
    font-family: sans-serif;
}

.main-container {
    width: 90vw;
    height: 95vh;
    margin: auto;
}

table {
    border: 2px solid rgb(200, 200, 200); /*the outer border of the table*/
    letter-spacing: 1px; /*space between the letters*/
    font-size: 0.8rem; /*size of the font*/
    border-collapse: collapse; /*removes the space bw the cells*/
}

th {
    background-color: rgb(235, 235, 235); /*th is the content of the thead, it is like the td of the thead*/
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

td {
    text-align: center;
}