* {
    /* border: 1px solid red; */
}

html {
    font-family: sans-serif;
}

.main-container {
    width: 90vw;
    height: 95vh;
    margin: auto;
}

table {
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

th {
    background-color: rgb(235, 235, 235);
}